



body {
   font-family: 'Inter', sans-serif;
   background-color: var(--beige);
   color: black;
   line-height: 1.6;
   padding: 20px;   
   margin: 0px;
}


html {
    --beige: #FFF8F2;
    --red: #FF0000;
    --maroon: #621616;
    --black: #000000;
    --white: #FFFFFF;

    
    --font-inter: 'Inter', sans-serif;
    --font-crimson: 'Crimson Text', serif;

    --space-sm: 20px;
    --space-md: 30px;
    --space-lg: 40px;
}




.big-sale{
    background-color: white;
    border-radius: 20px;
    padding: 40px 30px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.sale-content{
    margin-bottom: 20px;
}

.sale-title{
    font-family: 'Crimson Text', serif;
    font-size: 32px;
    color: var(--black);
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.categories-clothes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: var(--space-lg);
    flex-wrap: wrap;
}



.discount {
    font-family: 'Crimson Text', serif;
    font-size: 80px;
    color: var(--red);
    font-weight: 700;
    margin: 5px 0;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.sale-subtitle{
    font-size: 22px;
    color: var(--maroon);
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 30px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: var(--space-lg) 0;
    padding: var(--space-sm) 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1); 
    flex-wrap: wrap;

}


.clothes-button{
    background-color: var(--maroon);
    color: white;
    font-family: var(--font-inter);
    padding: 15px 30px;
    border-radius: 8px;
}

.category-gridpart {
    background-color: var(--beige);
    border: 2px solid var(--maroon);
    padding: var(--space-lg) var(--space-md);
    border-radius: 10px;
    width: 250px;
    text-align: center;


}

.category-buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: var(--space-lg) 0;
    flex-wrap: wrap;
}

.category-gridpart h3 {
    font-family: var(--font-crimson);
    color: var(--maroon);
    font-size: 22px;
    margin: 0;
}

.features p {
    font-size: 18px;
    color: var(--black);
    font-weight: 500;
    margin: 0;
}

.features p:first-child {
    background-color: var(--red);
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 600;
}